{:paths   ["src"]

 :deps    {org.clojure/clojure              {:mvn/version "1.10.3"}
           org.clojure/tools.namespace      {:mvn/version "1.0.0"}
           org.clojure/data.csv             {:mvn/version "1.0.0"}
           org.clojure/data.json            {:mvn/version "1.0.0"}
           clj-http/clj-http                {:mvn/version "3.10.3"}
           com.taoensso/timbre              {:mvn/version "5.1.0"}
           geocoordinates/geocoordinates    {:mvn/version "0.1.0"}
           dk.ative/docjure                 {:mvn/version "1.14.0"}
           org.apache.commons/commons-math3 {:mvn/version "3.6.1"}}

 :aliases {
           ;; Create the CSV files from SPARQL queries: `clj -X:csv`
           :sparql          {:exec-fn dcs.wdt.api/csv-files-from-sparql}

           ;; Create a db from CSV files then describe it on the console. Run using: `clj -X:db`
           :db              {:exec-fn  dcs.wdt.api/db
                             :jvm-opts ["-Xmx3g"]}

           ;; Generate CSV files for general use. Run using: `clj -X:general`
           :general         {:exec-fn  dcs.wdt.api/generate-csv-files-for-general-use
                             :jvm-opts ["-Xmx3g"]}
           
           ;; TODO: Remove the next 3 targets when their using code has been changed to no longer require these customised data formats

           ;; Generate JavaScript files for time-series-map. Run using: `clj -X:tseries`
           :tseries         {:exec-fn  dcs.wdt.api/generate-js-files-for-time-series-map
                             :jvm-opts ["-Xmx3g"]}

           ;; Generate JSON file for data grid & graph. Run using: `clj -X:grid`
           :grid            {:exec-fn  dcs.wdt.api/generate-json-file-for-data-grid-and-graph
                             :jvm-opts ["-Xmx3g"]}

           ;; Generate JSON file for cluster-map. Run using: `clj -X:cluster`
           :cluster         {:exec-fn  dcs.wdt.api/generate-json-file-for-cluster-map
                             :jvm-opts ["-Xmx3g"]}}}


